[submodule "hivesight_sensor"]
	path = hivesight_sensor
	url = https://github.com/ChuggleBug/hivesight_sensor.git
[submodule "hivesight_camera"]
	path = hivesight_camera
	url = https://github.com/ChuggleBug/hivesight_camera.git
[submodule "hivesight_coordinator"]
	path = hivesight_coordinator
	url = https://github.com/ChuggleBug/hivesight_coordinator.git
[submodule "hivesight_cloud"]
	path = hivesight_cloud
	url = https://github.com/ChuggleBug/hivesight_cloud.git
[submodule "hivesight_hw_impl"]
	path = hivesight_hw_impl
	url = https://github.com/ChuggleBug/hivesight_hw_impl.git
